﻿@model Lekkerbek.web.Entities.TblInstellingen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblInstellingen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Straat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Straat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Huisnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Huisnr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefoon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefoon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TijdslotInterval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TijdslotInterval)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
