﻿@model Lekkerbek.web.Models.InstellingenModel

@{
    ViewData["Title"] = "Edit";
    Layout = ViewBag.Layout;
}

<form asp-action="Edit">
    <div class="card-deck"> 

        <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-danger text-white"><h5>Instellingen:</h5>  </div>
        @*<img src="/img/klanten.png" class="card-img-top">*@
        <div id ="card-body-form text-left" class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <table class="table">
                        <tr><td class="text-left" colspan="2"><Strong><span class="text-primary">Adres van het bedrijf</span></Strong></td></tr>
                        <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="Naam" class="control-label"></label>
                                <input asp-for="Naam" class="form-control" />
                                <span asp-validation-for="Naam" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <div class="form-group">
                                <label asp-for="Straat" class="control-label"></label>
                                <input asp-for="Straat" class="form-control col-14" />
                                <span asp-validation-for="Straat" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="text-left">
                                <div class="form-group">
                                <label asp-for="Huisnr" class="control-label"></label>
                                <input asp-for="Huisnr" class="form-control col-6"  />
                                <span asp-validation-for="Huisnr" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>                         
                            <td class="text-left">
                                <div class="form-group">
                                <label asp-for="Stad" class="control-label"></label>
                                <input asp-for="Stad" class="form-control col-14"/>
                                <span asp-validation-for="Stad" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="text-left">
                                <div class="form-group">
                                <label asp-for="Postcode" class="control-label"></label>
                                <input asp-for="Postcode" class="form-control col-6" />
                                <span asp-validation-for="Postcode" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="Telefoon" class="control-label"></label>
                                <input asp-for="Telefoon" class="form-control" />
                                <span asp-validation-for="Telefoon" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
 
                    </table>
                
                
                    <h5><span class="text-primary">Instellingen voor tijdsloten</span></h5>
                    <div class="form-group">
                        <label asp-for="TijdslotInterval" class="control-label"></label>
                        <input asp-for="TijdslotInterval" class="form-control" />
                        <span asp-validation-for="TijdslotInterval" class="text-danger"></span>
                    </div>
               

               
                    <h5><span class="text-primary">Facturatie instellingen</span></h5>
                    <div class="form-group">
                        <label asp-for="GetrouwheidScoreLimiet" class="control-label"></label>
                        <input asp-for="GetrouwheidScoreLimiet" class="form-control" />
                        <span asp-validation-for="GetrouwheidScoreLimiet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KortingWaardeInDecimaal" class="control-label"></label>
                        <input asp-for="KortingWaardeInDecimaal"   class="form-control" />
                        <span asp-validation-for="KortingWaardeInDecimaal" class="text-danger"></span>
                    </div>
                
                    <div class="form-group">
                        <label asp-for="BtwInDecimaal" class="control-label"></label>
                        <input asp-for="BtwInDecimaal"   class="form-control" />
                        <span asp-validation-for="BtwInDecimaal" class="text-danger"></span>
                    </div>
                

        </div>
        <div class="card-footer bg-danger">
                     <input type="submit" value="Save" class="btn btn-warning" />    
        </div>
    </div>
    <!---------------->
    <div  class="card text-center" width="25rem">
        <div class="card-header bg-danger"><h5>Email instellingen:</h5>  </div>
        <div class="card-body">
           <table class="table">
               <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="AfzenderAdres" class="control-label"></label>
                                <input asp-for="AfzenderAdres" class="form-control" />
                                <span asp-validation-for="AfzenderAdres" class="text-danger"></span>
                                </div>
                            </td>
               </tr>
               <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="AfzenderNaam" class="control-label"></label>
                                <input asp-for="AfzenderNaam" class="form-control" />
                                <span asp-validation-for="AfzenderNaam" class="text-danger"></span>
                                </div>
                            </td>
               </tr>
               <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="Onderwerp" class="control-label"></label>
                                <input asp-for="Onderwerp" class="form-control" />
                                <span asp-validation-for="Onderwerp" class="text-danger"></span>
                                </div>
                            </td>
               </tr>
               <tr>
                            <td class="text-left">
                                <div class="form-group">
                                <label asp-for="SmtpHost" class="control-label"></label>
                                <input asp-for="SmtpHost" class="form-control" />
                                <span asp-validation-for="SmtpHost" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="text-left">
                                <div class="form-group">
                                <label asp-for="SmtpPort" class="control-label"></label>
                                <input asp-for="SmtpPort" class="form-control" />
                                <span asp-validation-for="SmtpPort" class="text-danger"></span>
                                </div>
                            </td>
               </tr>
               <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="Login" class="control-label"></label>
                                <input asp-for="Login" class="form-control" />
                                <span asp-validation-for="Login" class="text-danger"></span>
                                </div>
                            </td>
               </tr>
               <tr>
                            <td class="text-left" colspan="2">
                                <div class="form-group">
                                <label asp-for="Paswoord" class="control-label"></label>
                                <input asp-for="Paswoord" class="form-control" />
                                <span asp-validation-for="Paswoord" class="text-danger"></span>
                                </div>
                            </td>
               </tr>
           </table>
        </div>
        <div class="card-footer bg-danger ">
            <input type="submit" value="Save" class="btn btn-warning" />  
        </div>
    </div>
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
