﻿@using Lekkerbek.web.Entities
@model Lekkerbek.web.Entities.TblPersoneelDetails

@{
    ViewData["Title"] = "Details";
    TblPersoneel personeel = (TblPersoneel) ViewBag.Klant;
     Layout = TempData["Layout"].ToString();
}

<h1>Details</h1>

<div>
   <div class="card-deck">
    <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-success"><h5>@personeel.Voornaam @personeel.Naam</h5>  </div>
        <img src="/img/personeel.png" class="card-img-top">
        <div class="card-body">
            <table>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Straat)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Straat)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Huisnr)</strong></td> <td class="text-start">@Html.DisplayFor(model => model.Huisnr)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Postcode)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Postcode)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Stad)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Stad)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Email)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Email)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Telefoon)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Telefoon)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.GeboorteDatum)</strong></td><td>@Html.DisplayFor(model => model.GeboorteDatum)</td></tr>
            </table>
        
       
</div>
         <div class="card-footer bg-success">
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
        </div>
</div>
    </div>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />