﻿@model Lekkerbek.web.Models.BestellingModel

@{
    ViewData["Title"] = "Create";
    Layout = Model.Layout;
}

<h3> Nieuwe Bestelling</h3>


<div class="card-deck">
<form asp-action="Create">
    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>Bestelling:</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
           
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="KlantId" class="control-label">Kies klant:</label>
                    <select asp-for="KlantId" class="form-control" asp-items="ViewBag.KlantId"></select>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="Id" id="Id" name="Id" value="@Model.Id">
                    <input type="submit" name="addGerecht" id="addGerecht" formaction='@Url.Action("addGerecht","Bestellingen")' value="Voeg gerecht toe" />
                </div>

                @*<div class="form-group">
                    <label>Selecteer datum voor een Tijdslot</label>
                    <select id="geselecteerdeDag" name="geselecteerdeDag" class='form-control' asp-items='@ViewBag.DatumSelectie'></select>
                    <br />*@
                 <input type="hidden" asp-for="AfhaalTijdstip" id="AfhaalTijdstip" name="AfhaalTijdstip" value="@Model.AfhaalTijdstip">
                    @*<input type="submit" name="kiesTijdSlot" id="kiesTijdSlot" formaction='@Url.Action("kiesTijdSlot","Bestellingen")' value="Kies tijdslot" />
                </div>*@
      
        </div>
   
        <div class="card-footer bg-warning">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
 </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
