﻿@model Lekkerbek.web.Entities.TblBestelling

@{
    ViewData["Title"] = "Delete";
}




    <div>
   <div class="card-deck">
    <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-primary"><h3 class="text-warning">Are you sure you want to <span class="text-danger">delete</span> this?</h3></div>
        <img src="/img/klanten.png" class="card-img-top">
        <div class="card-body">

            <table>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.AfhaalTijdstip)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.AfhaalTijdstip)</td></tr>
                <tr><td class="text-start"><strong> @Html.DisplayNameFor(model => model.AantalMaaltijden)</strong></td> <td class="text-start"> @Html.DisplayFor(model => model.AantalMaaltijden)</td></tr>
                <tr><td class="text-start"><strong> @Html.DisplayNameFor(model => model.Klant)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Klant.Naam)</td></tr>              
                <tr><td class="text-start"><strong> @Html.DisplayNameFor(model => model.Klant.Id)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Klant.Id)</td></tr>              
            </table>

        </div>
         <div class="card-footer bg-primary">
              <form asp-action="Delete">
                  <input type="hidden" asp-for="Id" />
                  <input type="submit" value="Delete" class="btn btn-danger" /> 
                 <a asp-action="Index" class="btn btn-warning">Back to List</a>
             </form>
         </div>
    </div>
    </div>
</div>
    
    
