﻿@model Lekkerbek.web.Models.FactuurModel

@{
    ViewData["Title"] = "Details";
    Layout = Model.Layout;
    string rol = ViewBag.Rol;
    var factuurModel = ViewBag.FactuurModel;
}

<h3>Bestelling Details</h3>


    
    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-info"> </div>
            <div class="card-body">
                <div id = "PrintSection">

                 
                <table class="table table-sm table-borderless" width="100%">
                    <tr>
                        <th col-span="2" ><img class="mx-auto" src="/img/logo.png"  width="200" alt="Logo"> </th>
                        
                    </tr>
                    <tr>
                        <th class="text-left"> Klant:</th>
                        <th class="text-left"> Tijdslot:</th>
                    </tr>
                    <tr>
                        <td>
                            <p class="card-text text-left small">
                                @Model.KlantNaam <br />
                                @Model.Straat  @Model.HuisNr <br />
                                @Model.Postcode  @Model.Stad <br />
                                @Model.Email <br />
                                @Model.Telefoon <br />
                                @Model.Email <br />
                            </p>
                        </td>
                        <td>
                            <p class="card-text">
                                <h5><span id="tijdSlot" class="text-success">@Model.AfhaalTijdstip.ToShortDateString()</span></h5>
                                <h5><span id="tijdSlot" class="text-success">@Model.AfhaalTijdstip.ToShortTimeString()</span></h5>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5 class="card-title">Gerechten en opties:</h5>
                            <p>Aantal maaltijden in bestelling : @Model.AantalMaaltijden </p>
                            <table class="table table-striped border-secondary">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="small font-weight-bold">Gerechtnaam</th>
                                        <th class="small font-weight-bold">Speciale Optie</th>
                                        <th class="small font-weight-bold">Prijs Gerecht</th>
                                        <th class="small font-weight-bold">Prijs Optie</th>
                                    </tr>
                                </thead>
                                <tr></tr>@*alternate the stripes color*@
                                @foreach (var item in Model.GerechtenLijst)
                                {             
                                    <tr>
                                        <td class="small">
                                            @item.GerechtNaam
                                        </td>
                                        <td class="small"> 
                                            @item.Optie
                                        </td>
                                        <td class="small">
                                            @item.GerechtPrijs €
                                        </td>
                                        <td class="small">
                                            @item.OptiePrijs €
                                        </td>
                                    </tr>
                                }
                            </table><br />
                             <h5 class="card-title">Totaal: <span class="text-danger">@ViewBag.TotaalPrijs €</span> </h5>
                             

                        </td>
                    </tr>
                </table>
            </div>
                    
            </div>
        <div class="card-footer bg-info ">
            @if(rol =="Administratief")
            {
                 <a class="btn btn-warning"  onclick="printDiv()">Print Bestelbon </a>
            }
            @if(rol =="Kassa")
            {
                <a class="btn border-warning btn-secondary"  onclick="printDiv()">Print Factuur </a>
                <a class="btn border-success btn-secondary"  asp-action="Edit"   asp-route-id="" >Afrekenen </a>
                 <a class="btn border-primary btn-secondary" asp-controller="SendMailer"  asp-action="index" asp-route-id="" >Mail Factuur </a>
            }
            
        </div>
    </div>
    
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
