﻿@model Lekkerbek.web.Models.FactuurModel

@{
    ViewData["Title"] = "Edit";
    var klantInfo =  ViewBag.KlantInfo;
     Layout = Model.Layout;
}

<h3>Bestelling</h3>


 <div class="card-deck">
     <div class="row hidden-md-up">
<!--Form-->
    <div class="card text-center" style="max-width:25rem;">
        
        <form asp-action="Edit">
            <div class="card-header bg-warning"><h5>BestellingFormulier:</h5>  </div>
            <img src="/img/ordering.png" class="card-img-top">
           <!--hide/unhide form A-->
            <div id ="card-body-form" class="card-body">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
               
                    <div class="form-group">
                        <label asp-for="KlantId" class="control-label">Selecteer Klant</label>
                        <select asp-for="KlantId" class="form-control" asp-items="ViewBag.KlantId"></select>
                        <span asp-validation-for="KlantId" class="text-danger"></span>
                    </div>

                
                    <div class="form-group">  
                        <input type="hidden" asp-for="Id" id="Id" name="Id" value="@Model.Id">
                        <input class="btn btn-outline-info btn-block" type="submit" name="addGerecht" id="addGerecht" formaction='@Url.Action("addGerecht","Bestellingen")' value="Voeg gerecht toe" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" id="Id" name="Id" value="@Model.Id">
                        <input class="btn btn-outline-warning btn-block" type="submit" name="lijstBesteldeGerechten" id="lijstBesteldeGerechten" formaction='@Url.Action("Index","BesteldeGerechten")' value="Lijst bestelde gerechten" />
                    </div>
                
                    <div class="form-group">
                        <label>Verander het geselecteerde tijdslot <br /> 
                               (tot max. 1 uur voor bestelling!)</label>
                        <select id="geselecteerdeDag" name="geselecteerdeDag" class='form-control' asp-items='@ViewBag.DatumSelectie'></select>
                        <br />
                        <input class="btn btn-outline-info btn-block" type="submit" name="kiesTijdSlot" id="kiesTijdSlot" formaction='@Url.Action("kiesTijdSlot","Bestellingen")' value="Kies een tijdslot" />
                    </div>

                    <div class="form-group">
                        <p>
                            <input type="hidden" asp-for="AfhaalTijdstip" value="@Model.AfhaalTijdstip" />
                        </p>
                    </div>

                    <div class="form-group">
                        <input type="hidden" asp-for="AantalMaaltijden" />
                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />
                    </div>
            </div>

                 
            <div class="card-footer bg-warning">
                    <input type="submit" value="Save" class="btn btn-primary" />             
            </div>

        </form> 
        <!--hide/unhide form B message-->
        <div id ="card-body-msg1" class="card-body">
            <h5 class="card-title"><span class="text-danger">Bestelling in verwerking!!</span></h5>
            <p class="card-text">Je krijgt deze informatie boodschap te zien als de afhaaltijd minder dan één uur is. Deze bestelling kan niet meer gewijzigt of geannuleerd worden.</p>
        </div>
        

        <!--hide/unhide form C message-->
         <div id ="card-body-msg2" class="card-body">
            <h5 class="card-title"><span class="text-success">Bestelling Afgehandeld!!</span></h5>
            <p class="card-text">Je krijgt deze informatie boodschap te zien omdat deze bestelling afgeleverd is.</p>
        </div>

        <div id ="btnLijst" class="card-footer bg-warning">
             <a  class="btn btn-warning border-dark rounded-pill shadow border-4 mr-3" asp-area="" asp-controller="Bestellingen" asp-action="index">Overzicht bestellingen</a>
        </div>
    </div>



    <!--bestelbon overzicht-->
    <div id = "PrintSection" class="card text-center" width="25rem">
        <div class="card-header bg-info"><h5>BestelBon:</h5>  </div>
        <div class="card-body">
            <table class="table table-sm table-borderless" width="100%">
                    <tr>
                        <th col-span="2" class="text-center"><img class="mx-auto" src="/img/logo.png"  width="200" alt="Logo"> </th>
                        
                    </tr>
                    <tr>
                        <th> Klant:</th>
                        <th> Tijdslot:</th>
                    </tr>
                    <tr>
                        <td>
                            <p class="card-text text-left small">
                                @Model.KlantNaam <br />
                                @Model.Straat  @Model.HuisNr <br />
                                @Model.Postcode  @Model.Stad <br />
                                @Model.Email <br />
                                @Model.Telefoon <br />
                                @Model.Email <br />
                            </p>
                        </td>
                        <td>
                            <p class="card-text">
                                <h5><span id="tijdSlot" class="text-success">@Model.AfhaalTijdstip.ToShortDateString()</span></h5>
                                <h5><span id="tijdSlot" class="text-success">@Model.AfhaalTijdstip.ToShortTimeString()</span></h5>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5 class="card-title">Gerechten en opties:</h5>
                            <p>Aantal maaltijden in bestelling : @Model.AantalMaaltijden </p>
                            <table class="table table-striped border-secondary">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="small font-weight-bold">Gerechtnaam</th>
                                        <th class="small font-weight-bold">Speciale Optie</th>
                                        <th class="small font-weight-bold">Prijs Gerecht</th>
                                        <th class="small font-weight-bold">Prijs Optie</th>
                                    </tr>
                                </thead>
                                <tr></tr>@*alternate the stripes color*@
                                @foreach (var item in Model.GerechtenLijst)
                                {             
                                    <tr>
                                        <td class="small">
                                            @item.GerechtNaam
                                        </td>
                                        <td class="small"> 
                                            @item.Optie
                                        </td>
                                        <td class="small">
                                            @item.GerechtPrijs €
                                        </td>
                                        <td class="small">
                                            @item.OptiePrijs €
                                        </td>
                                    </tr>
                                }
                            </table><br />
                             <h5 class="card-title">Totaal: <span class="text-danger">@ViewBag.TotaalPrijs €</span> </h5>
                             

                        </td>
                    </tr>
                </table>
        </div>
        <div class="card-footer bg-info ">
            <a class="btn btn-warning"  onclick="printDiv()">Print </a>
        </div>
    </div>
    </div>
 </div>
 


@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

@*https://www.geeksforgeeks.org/print-the-contents-of-a-div-element-using-javascript/#:~:text=To%20print%20the%20content%20of,div%20element%20to%20be%20extracted.*@

 @*scripts om tijdslot te checken < uur*@

                @{double  dateTimeToMilliSeconds(DateTime d)
                    {
                        DateTime epoch = DateTime.UnixEpoch;
                        DateTime now = d;
 
                        TimeSpan ts = now.Subtract(epoch);
                        double unixTimeMilliseconds = ts.TotalMilliseconds;
 
                        return(unixTimeMilliseconds);
                    }

                 }


                <script>
                    tijdslotCheck('@Html.Raw(dateTimeToMilliSeconds(Model.AfhaalTijdstip))'); //execute the function   
                    
                    function tijdslotCheck(d)
                    {
                        let nu = Date.now(); //nu in millisec
  
                        console.log("nu " + nu);
                        console.log("d " + d);                      

                        const uur = 1000 * 60 * 60; // bereken hoeveel & uur is in milliseconds
                        console.log("uur " + uur);
                        

                       if(d < nu && d > nu - uur  ) //check 1 uur voor nu
                        { 
                            console.log("if1: "+ d +"<"+ nu +"&&"+ d +">"+ nu + "-" + uur);
                            document.getElementById("card-body-form").style.display = "none"; 
                            document.getElementById("card-body-msg2").style.display = "none"; 
                            document.getElementById("card-body-msg1").style.display = "block"; 
                       
                        } 

                        if(nu > d) // check if tijdslot voorbij is
                        { 
                            console.log("if2: "+ nu +">"+ d );
                            document.getElementById("card-body-form").style.display = "none"; 
                            document.getElementById("card-body-msg1").style.display = "none"; 
                            document.getElementById("card-body-msg2").style.display = "block";
                        } 
                        else
                        {
                            document.getElementById("card-body-msg1").style.display = "none"; 
                            document.getElementById("card-body-msg2").style.display = "none"; 
                            document.getElementById("btnLijst").style.display = "none"; 
                        }
                    }


                    
                </script>
               @* -----------------*@