﻿
@{
     ViewData["Title"] = "GeenKoksMsg";
     Layout=ViewBag.Layout;

}


<div class="card-deck">

    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>Alert!!</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
            <h3>Mail is verstuurd</h3><br />
            
        </div>
        <div class="card-footer bg-warning">    
            <a  asp-controller="Bestellingen" asp-action="Index" >Back to Homepage</a>
        </div>
    </div>
</div>