﻿@model Lekkerbek.web.Models.FactuurModel

@{
	ViewData["Title"] = "Factuur";
	Layout = "~/Views/Shared/_LayoutFactuur.cshtml";
	string rol = ViewBag.Rol;
	bool korting = ViewBag.Korting;
}

<div class="container bg-light">
<div class="row">
    				<!-- BEGIN INVOICE -->
					<div id = "PrintSection">
					<div class="col-xs-12">
						<div class="grid invoice">
							<div class="grid-body">
								<div class="invoice-title">
									<div class="row">
										<div class="col-xs-12">
											<img src="/img/logo.png"  alt="Logo"  height="35">
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-xs-12">
											<h2>Factuur</h2><br>
											<span class="small">@Model.Id</span>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-6">
										<address>
											<strong>Facturatie Adres:</strong><br>
											@Model.KlantNaam<br>
											@Model.Straat @Model.HuisNr<br>
											@Model.Postcode @Model.Stad<br>
											<abbr title="Telefoon">T:</abbr> @Model.Telefoon
										</address>
									</div>
									<div class="col-6 text-right">
										<address>
											<strong>BedrijfsAdres:</strong><br>
											@Model.BedrijfNaam<br>
											@Model.BedrijfStraat @Model.BedrijfHuisNr<br>
											@Model.BedrijfPostcode @Model.BedrijfStad<br>
											<abbr title="Telefoon">T:</abbr> @Model.BedrijfTelefoon<br>
											<abbr title="Email">E:</abbr> @Model.BedrijfEmail<br>
										</address>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<address>
											<strong>Betaalwijze: </strong><br>
											@Model.Betaalwijze<br>
											@Model.Email<br>
										</address>
									</div>
									<div class="col-6 text-right">
										<address>
											<strong>Afhaaltijdstip:</strong><br>
											@Model.AfhaalTijdstip.ToShortDateString()
											@Model.AfhaalTijdstip.ToShortTimeString()
										</address>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h3>BESTELLINGSOVERZICHT</h3>
										<table class="table table-striped">
											<thead>
												<tr class="line">
													<td><strong>#</strong></td>
													<td class="text-center"><strong>GERECHT</strong></td>
													<td class="text-center"><strong>OPTIE</strong></td>
													@*<td class="text-right"><strong>AANTAL</strong></td>*@
													<td class="text-right"><strong>PRIJS GERECHT</strong></td>
													<td class="text-right"><strong>PRIJS OPTIE</strong></td>
												</tr>
											</thead>
											<tbody>
											@{int count = 0;}
									@foreach (var item in Model.GerechtenLijst)
									{
										<tr>
											<td>@count</td>
											<td>@item.GerechtNaam</td>
											<td>@item.Optie</td>
											@*<td class="text-center">@item.Aantal</td>*@
											<td class="text-right">@item.GerechtPrijs €</td>
											<td class="text-right">@item.OptiePrijs</td>
										</tr>

										
											count++;
										
									}

												<tr>
													<td colspan="3"></td>
													<td class="text-right"><strong>Totaal Exclusief 21% BTW</strong></td>
													<td class="text-right"><strong>@ViewBag.TotaalPrijsZonderBtw €</strong></td>
												</tr>
												@if(korting == true)
												{
													<tr>
														<td colspan="3"></td>
															<td class="text-right"><strong>Klant Korting</strong></td>
															<td class="text-right"><strong>@ViewBag.KortingBedrag €</strong></td>
														</tr>
												}
									
												<tr>
													<td colspan="3"></td>
													<td class="text-right"><strong> 21% BTW</strong></td>
													<td class="text-right"><strong>@ViewBag.BtwBedrag €</strong></td>
												</tr>
												<tr>
													<td colspan="3">
													</td><td class="text-right"><strong>Totaal inclusief BTW</strong></td>
													<td class="text-right"><strong>@ViewBag.TotaalPrijsMetBtw</strong></td>
												</tr>
											</tbody>
										</table>
									</div>									
								</div>
								<div class="row">
									<div class="col-md-12 text-right identity">
										<p><strong>De lekkerbek dankt je voor het vertrouwen</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					<!-- END INVOICE -->
				</div>
</div>    
    
<div>
   @if(rol =="Kassa")
            {
                <a class="btn border-warning btn-secondary"  onclick="printDiv()">Print Factuur </a>
               @* <a class="btn border-success btn-secondary"  asp-controller="Facturaties" asp-action="create"  asp-route-id="@Model.Id" >Afrekenen </a>*@
                <a class="btn border-primary btn-secondary"  asp-controller="Bestellingen"  asp-action="EmailFactuur" asp-route-id="@Model.Id" >Mail Factuur </a>
            }
    <a asp-action="Index">Back to List</a>
</div>
