﻿
@{
     ViewData["Title"] = "GeenKoksMsg";
     Layout=ViewBag.Layout;

}


<div class="card-deck">

    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>Alert!!</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
            <h3>Er zijn geen koks meer geprogrammeerd... </h3><br />
            (Of er kan geen tijdslot meer <br />
            geprogrammeerd worden 2 uur verder!)<br /><br />
            <i>Plan koks in om deze fout boodschap <br />
                te doen verdwijnen</i><br/>
        </div>
        <div class="card-footer bg-warning">    
            <a  asp-controller="Home" asp-action="home" asp-route-id ="1">Back to Homepage</a>
        </div>
    </div>
</div>