﻿@model IEnumerable<Lekkerbek.web.Models.BestellingOverzichtModel>

@{
    ViewData["Title"] = "Index";
    var rol = ViewBag.LoginData.Rol;
    Layout = ViewBag.LoginData.Layout;
}

<h1>Overzicht bestellingen</h1>

<p>
    @if(rol == "Administratief")
    {
         <a class="btn btn-danger border-dark rounded-pill shadow border-4 mr-3" asp-controller="Bestellingen" asp-action="Create">Nieuwe bestelling</a>
    }
   
    <a class="btn btn-secondary border-dark rounded-pill shadow border-4 mr-3" asp-area="" asp-controller="TijdSloten" asp-action="index">Overzicht tijdsloten</a> 
</p>

<p>Legende : <span class="badge badge-success">Afgehandeld</span> | <span class="badge badge-warning">anulatie niet meer mogelijk</span> | <span class="badge badge-danger"> wijzigen niet meer mogelijk</span></p>

<div class="bg-light">
<table id="table" class="table table-striped border-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlantNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AfhaalTijdstip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalMaaltijden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalePrijs) € (inc btw)
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
            @{
                int count = 0;           
            }
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KlantNaam)
                </td>
                <td id="@count">

                      <script>
                      
                          tijdslotCheck('@Html.Raw(dateTimeToMilliSeconds(item.AfhaalTijdstip))');
                       
                           
                       //execute the function   
                    
                            function tijdslotCheck(d)
                            {
                                let nu = Date.now(); //nu in millisec
                                let correctieFactor = 7200000;//tijdzone GMT+2 in millisec dus 2 uur teveel deze moet afgetrokken worden
                                let result = (d -correctieFactor)-nu;
  
                                            

                                const uur = 1000 * 60 * 60; // bereken hoeveel & uur is in milliseconds
                               

                                let cell = document.getElementById(@count);
                                
                               
                               if(result < ( uur * 2) && result > uur ) //check 2 uur voor nu laatste annulatie
                                {  
                                    console.log("A if1: d-n="+ result + "< uur*2= " + uur * 2 ); 
                                    console.log("A nu " + nu );
                                    console.log("A d " + d );    
                                     console.log("A uur " + uur);
                                    
                                    cell.className = ''; //verwijder alle classes
                                    cell.classList.add('bg-warning'); // voeg een nieuwe classe toe                        
                                } 

                               if(result < uur  ) //check 1 uur voor nu laatste wijzigingen
                                { 
                                    console.log("A if2: d-n="+ result + "< uur=" + uur);                                      
                                    cell.className = '';
                                    cell.classList.add('bg-danger');
                       
                                } 

                                if(nu > d-correctieFactor) // check if tijdslot voorbij is
                                { 
                                    console.log("A if3: "+ nu +">"+ d );                                  
                                    cell.className = '';
                                    cell.classList.add('bg-success');                                   
                                } 
                                console.log("-------");

                            }
                      
                      </script>   
                      
                      @Html.DisplayFor(modelItem =>item.AfhaalTijdstip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AantalMaaltijden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalePrijs)
                </td>
                
                <td>
                    
                        @if(rol == "Administratief")
                        {
                            <a  id="btnEdit+@count"   class="btn btn-warning mr-2"    asp-action="Edit"      asp-route-id="@item.Id">Wijzig</a> 
                            <a                        class="btn btn-secondary mr-2"  asp-action="Details"   asp-route-id="@item.Id">Details</a> 
                            <a  id="btnDelete+@count" class="btn btn-danger"          asp-action="Delete"    asp-route-id="@item.Id">Annulatie</a>
                        }
                        
                        @if(rol == "Kassa")
                        {
                            <a                        class="btn btn-primary"         asp-action="Factuur"   asp-route-id="@item.Id">Factuur</a>
                            @if(item.Betaald != true)
                            {
                                <a                        class="btn btn-secondary"       asp-controller="Facturaties"  asp-action="Create"   asp-route-id="@item.Id">Afrekenen</a>

                            }
                            else
                            {
                                <span class="text-success ml-3"><strong><i>Betaald</i></strong></span>
                            }
                        }
                        
                         <script>

                        tijdslotCheck('@Html.Raw(dateTimeToMilliSeconds(item.AfhaalTijdstip))');                      
                            
                       //execute the function   
                    
                            function tijdslotCheck(d)
                            {
                                let nu = Date.now(); //nu in millisec
                                let correctieFactor = 7200000;//tijdzone GMT+2 in millisec dus 2 uur teveel deze moet afgetrokken worden
                                let result = (d -correctieFactor)-nu;
                                
                                console.log("B nu " + nu + "datum " + new Date(nu));
                                console.log("B d " + d + "datum " + new Date(d));                        

                                const uur = 1000 * 60 * 60; // bereken hoeveel & uur is in milliseconds
                                console.log("uur " + uur);

                               
                                

                                if(result < ( uur * 2) && result > uur ) //check 2 uur voor nu laatste annulatie deleteknop verdwijnt
                                { 
                                    console.log("B if1: d-n="+ result + "< uur*2=" + uur*2);                                  
                                    document.getElementById("btnDelete+@count").style.display = 'none';                      
                                } 

                                 if(result < uur  ) //check 1 uur voor nu laatste wijzigingen
                                {
                                    console.log("B if2: result "+ result + "< uur " + uur);   
                                    document.getElementById("btnEdit+@count").style.display = 'none'; 
                                    document.getElementById("btnDelete+@count").style.display = 'none';  
                                }

                                if(nu > d-correctieFactor) // check if tijdslot voorbij is editknop verdwijnt
                                { 
                                    console.log("B if3: "+ nu +">"+ d );                                                                   
                                    document.getElementById("btnEdit+@count").style.display = 'none';   
                                    document.getElementById("btnDelete+@count").style.display = 'none'; 
                                } 
                               

                            }

                     </script>   


                </td>
                 @{count++; }
            </tr>
           
        }

    </tbody>
</table>
</div>
<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />


 @*//methods c# *@                   
@{

    double  dateTimeToMilliSeconds(DateTime d)
    {
        //DateTime epoch = DateTime.UnixEpoch;
        //DateTime now = d;

        //TimeSpan ts = now.Subtract(epoch);
        //double unixTimeMilliseconds = ts.TotalMilliseconds;

        long ms = (long)(d - new DateTime(1970, 1, 1)).TotalMilliseconds;
  
        return(ms);
    }

  }
               

  
    