﻿@model Lekkerbek.web.Entities.TblBestelling

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblBestelling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KlantId" class="control-label"></label>
                <select asp-for="KlantId" class ="form-control" asp-items="ViewBag.KlantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AfhaalTijdstip" class="control-label"></label>
                <input asp-for="AfhaalTijdstip" class="form-control" />
                <span asp-validation-for="AfhaalTijdstip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalMaaltijden" class="control-label"></label>
                <input asp-for="AantalMaaltijden" class="form-control" />
                <span asp-validation-for="AantalMaaltijden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-area="" asp-controller="Bestellingen" asp-action="BesteldGerecht">Voeg gerecht toe</a><br />
               

               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
