﻿@model Lekkerbek.web.Models.KokInplanningModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete</h3>

<div>
   <div class="card-deck">
    <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-primary"><h3 class="text-warning">Are you sure you want to <span class="text-danger">delete</span> this?</h3></div>
        <img src="/img/klanten.png" class="card-img-top">
        <div class="card-body">

            <table>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.KokANaam)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.KokANaam)</td></tr>
                <tr><td class="text-start"><strong> @Html.DisplayNameFor(model => model.KokBNaam)</strong></td> <td class="text-start"> @Html.DisplayFor(model => model.KokBNaam)</td></tr>
                <tr><td class="text-start"><strong> @Html.DisplayFor(model => model.Datum)</strong></td><td class="text-start">  @Html.DisplayFor(model => model.Datum)</td></tr>
                <tr><td class="text-start"><strong> @Html.DisplayNameFor(model => model.ShiftStart)</strong></td><td class="text-start">@Html.DisplayFor(model => model.ShiftStart)</td></tr>              
                <tr><td class="text-start"><strong> @Html.DisplayNameFor(model => model.ShiftStop)</strong></td><td class="text-start">@Html.DisplayFor(model => model.ShiftStop)</td></tr>              
            </table>

        </div>
         <div class="card-footer bg-primary">
              <form asp-action="Delete">
                  <input type="hidden" asp-for="Id" />
                  <input type="submit" value="Delete" class="btn btn-danger" /> 
                 <a asp-action="Index" class="btn btn-warning">Back to List</a>
             </form>
         </div>
    </div>
    </div>
</div>


<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />


