﻿@model Lekkerbek.web.Entities.TblKoksOnDuty

@{
    ViewData["Title"] = "Details";
    Layout = TempData["Layout"].ToString();
}

<h1>Details</h1>

<div>
    <h4>TblKoksOnDuty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KokA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KokA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KokB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KokB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
