﻿@model Lekkerbek.web.Models.KokInplanningModel

@{
    ViewData["Title"] = "Edit";
    Layout = TempData["Layout"].ToString();
}

<form asp-action="Edit">
<div class="card-deck"> 

    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-success"><h5>Wijzig koks inplanning</h5>  </div>
        <img src="/img/inplanning.png" class="card-img-top">
        <div id ="card-body-form" class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="KokA" class="control-label"></label>
                <select asp-for="KokA" class="form-control" asp-items="ViewBag.KokAEdit"></select>
            </div>
            <div class="form-group">
                <label asp-for="KokB" class="control-label"></label>
                <select asp-for="KokB" class="form-control" asp-items="ViewBag.KokBEdit"></select>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ShiftStart" class="control-label"></label>
                <input asp-for="ShiftStart" type="time" class="form-control" />
                <span asp-validation-for="ShiftStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShiftStop" class="control-label"></label>
                <input asp-for="ShiftStop" type="time" class="form-control" />
                <span asp-validation-for="ShiftStop" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer bg-success">
             <input type="submit" value="Wijzig" class="btn btn-warning" />
        </div>
    </div>

</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
