﻿@model IEnumerable<Lekkerbek.web.Models.BestellingWijzigingen>

@{
    ViewData["Title"] = "Index";
    Layout = TempData["Layout"].ToString();
}

<h1>Wijzig volgende bestellingen!!</h1>

<p>
   Onderstaande bestellingen hebben geen tijdslot meer,<br>
   Gelieve dit aan te passen en eventueel de klanten op de hoogte te brengen<br>
   dat hun tijdslot gewijzigd is!<br>
</p>

<div class="bg-light">
<table class="table table-striped border-secondary shadow-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoon)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoon)
            </td>
            
            <td>
                <a asp-controller="Bestellingen" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
               @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> *@
                <a asp-controller="Bestellingen" asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />
