﻿@model IEnumerable<Lekkerbek.web.Models.KokInplanningModel>

@{
    ViewData["Title"] = "Index";
    Layout = TempData["Layout"].ToString();
}

<h1>Index</h1>

<p>
    <a class="btn btn-success border-dark rounded-pill shadow border-4 mr-3 "  asp-action="Create">Create New</a>
</p>

<div class="bg-light">
<table class="table table-striped border-secondary shadow-sm">
    <thead>
        <tr>
            <th>
               Kok A
            </th>
            <th>
               Kok B
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftStop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KokANaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KokBNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ShiftStart)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ShiftStop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
               @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> *@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />