﻿@model Lekkerbek.web.Models.KlantModel

@{
    ViewData["Title"] = "Edit";
    Layout = TempData["Layout"].ToString();
}

<h3>Wijzig klant</h3>
 <form asp-action="Edit">
<div class="card-deck"> 

        <div class="card text-center shadow-sm" style="max-width:25rem;">
            <div class="card-header bg-primary"><h5>Klant info:</h5>  </div>
            <img src="/img/klanten.png" class="card-img-top">
            <div id ="card-body-form" class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="KlantId" />
                        <input type="hidden" asp-for="KlantDetailsId" />

                        <div class="form-group">
                            <label asp-for="Naam" class="control-label font-weight-bold"></label>
                            <input asp-for="Naam" class="form-control" />
                            <span asp-validation-for="Naam" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Voornaam" class="control-label font-weight-bold"></label>
                            <input asp-for="Voornaam" class="form-control" />
                            <span asp-validation-for="Voornaam" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GeboorteDatum" class="control-label font-weight-bold"></label>
                            <input asp-for="GeboorteDatum" type="date" class="form-control" />
                            <span asp-validation-for="GeboorteDatum" class="text-danger"></span>
                        </div>
            </div>
            <div class="card-footer bg-primary">
                 <input type="submit" value="Save" class="btn btn-warning" />    
            </div>
        </div>

        <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-primary"><h5>Klant Details:</h5>  </div>     
        <div id ="card-body-form" class="card-body">    
                        <div class="form-group">
                            <label asp-for="Straat" class="control-label font-weight-bold"></label>
                            <input asp-for="Straat" class="form-control" />
                            <span asp-validation-for="Straat" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Huisnr" class="control-label font-weight-bold"></label>
                            <input asp-for="Huisnr" class="form-control" />
                            <span asp-validation-for="Huisnr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Postcode" class="control-label font-weight-bold"></label>
                            <input asp-for="Postcode" class="form-control" />
                            <span asp-validation-for="Postcode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Stad" class="control-label font-weight-bold"></label>
                            <input asp-for="Stad" class="form-control" />
                            <span asp-validation-for="Stad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label font-weight-bold"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefoon" class="control-label font-weight-bold"></label>
                            <input asp-for="Telefoon" class="form-control" />
                            <span asp-validation-for="Telefoon" class="text-danger"></span>
                        </div>
                
        </div>
        <div class="card-footer bg-primary">
                     <input type="submit" value="Save" class="btn btn-warning" />    
        </div>
    </div>

</div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}