﻿@model IEnumerable<Lekkerbek.web.Entities.TblKlant>

@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.LoginData.Layout;
    var rol = ViewBag.LoginData.Rol;
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary border-dark rounded-pill shadow border-4 mr-3 " asp-action="Create">Create New</a>
</p>

<div class="bg-light">
<table class="table table-striped border-secondary shadow-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeboorteDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeboorteDatum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-2">Edit</a> 
                    <a asp-controller = "KlantDetails" asp-action="Details" asp-route-id="@item.KlantDetailsId" class="btn btn-secondary mr-2">Details</a> 
                    @if(rol == "Administratief")
                    {
                         <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mr-2">Delete</a>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />