﻿@using Lekkerbek.web.Entities
@model Lekkerbek.web.Entities.TblKlantDetails

@{
    ViewData["Title"] = "Details";
    TblKlant klant = (TblKlant) ViewBag.Klant;
    Layout = TempData["Layout"].ToString();
}

<h1>Details</h1>

<div>
   <div class="card-deck">
    <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-primary"><h5>@klant.Voornaam @klant.Naam</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
            <table>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Straat)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Straat)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Huisnr)</strong></td> <td class="text-start">@Html.DisplayFor(model => model.Huisnr)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Postcode)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Postcode)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Stad)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Stad)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Email)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Email)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Telefoon)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Telefoon)</td></tr>
                <tr><td class="text-start"><strong>GeboorteDatum</strong></td><td>@klant.GeboorteDatum.ToShortDateString()</td></tr>
            </table>
          
        </div>
         <div class="card-footer bg-primary">
              <a class="btn btn-warning" asp-controller ="Klanten" asp-action="Index">Back to List</a>    
         </div>
    </div>
    </div>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />