﻿@model Lekkerbek.web.Models.PersoneelModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Nieuwe PersoneelsLid</h1>
<form asp-action="Edit">
<div class="card-deck"> 

    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-success"><h5>Personeel info : </h5>  </div>
        <img src="/img/personeel.png" class="card-img-top">
        <div id ="card-body-form" class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersoneelId" />
            <input type="hidden" asp-for="PersoneelDetailsId" />

            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                
            </div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            </div>
        <div class="card-footer bg-success">
             <input type="submit" value="Save" class="btn btn-warning" />    
        </div>
     </div>
      <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-success"><h5>Personeel Details:</h5>  </div>     
        <div id ="card-body-form" class="card-body"> 
            <div class="form-group">
                <label asp-for="Straat" class="control-label"></label>
                <input asp-for="Straat" class="form-control" />
                <span asp-validation-for="Straat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Huisnr" class="control-label"></label>
                <input asp-for="Huisnr" class="form-control" />
                <span asp-validation-for="Huisnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stad" class="control-label"></label>
                <input asp-for="Stad" class="form-control" />
                <span asp-validation-for="Stad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefoon" class="control-label"></label>
                <input asp-for="Telefoon" class="form-control" />
                <span asp-validation-for="Telefoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeboorteDatum" class="control-label"></label>
                <input asp-for="GeboorteDatum" type="date" class="form-control" />
                <span asp-validation-for="GeboorteDatum" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer bg-success">
                        <input type="submit" value="Save" class="btn btn-warning" />    
        </div>
    </div>

</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
