﻿@model Lekkerbek.web.Models.BesteldeGerechtenModel

@{

    ViewData["Title"] = "Create";
    Layout = Model.Layout;
}

<h1>Voeg een gerecht toe aan de bestelling</h1>

<div class="card-deck">
<!--Form-->
    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>Gerechten en opties:</h5>  </div>
        <img src="/img/gerecht-small.png" class="card-img-top" >
        <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">             
                <select asp-for=" @Model.SelectedGerechtId" class="form-control" asp-items="@Model.Gerechten"></select>
            </div>

            <div class="form-group">             
                <select asp-for=" @Model.SelectedGerechtOptieId" class="form-control" asp-items="@Model.GerechtOpties"></select>
            </div>


            <input type="hidden" asp-for="@Model.BestellingId" id="BestellingId" name="BestellingId" value="@Model.BestellingId">
            <input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
        <div class="card-footer bg-warning"></div>   
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
