﻿@model Lekkerbek.web.Models.BesteldeGerechtenModel

@{
    ViewData["Title"] = "Edit";
    Layout = TempData["Layout"].ToString();
}

<h3>Pas je gekozen gerechten aan</h3>


<div class="card-deck">
<!--Form-->
    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>Gerechten en opties:</h5>  </div>
        <img src="/img/gerecht-small.png" class="card-img-top" >
        <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">             
                <select asp-for=" @Model.SelectedGerechtId" class="form-control" asp-items="@Model.Gerechten"></select>
            </div>

            <div class="form-group">             
                <select asp-for=" @Model.SelectedGerechtOptieId" class="form-control" asp-items="@Model.GerechtOpties"></select>
            </div>


            <input type="hidden" asp-for="@Model.BestellingId" id="BestellingId" name="BestellingId" value="@Model.BestellingId">
            <input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
     </div>
        <div class="card-footer bg-warning"></div>   
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
