﻿@model IEnumerable<Lekkerbek.web.Models.BesteldeGerechtenModel>

@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.Layout;
}

<h3>Toegevoegde gerechten</h3>

<p>
    <a class="btn btn-warning border-dark rounded-pill shadow border-4 mr-3 " asp-action="Create">Voeg een extra gerecht toe</a>
</p>
<div class="bg-light">
<table class="table table-striped border-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gerecht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Optie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


                
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gerecht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Optie)
            </td>       
            <td>
                <a class="btn btn-warning mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-danger asp-action="Delete" asp-route-id="@item.Id">Delete</a>
               
            </td>
        </tr>
                
                   
                
            }
    </tbody>
</table>
</div>
<p>
    <a class="btn btn-success border-dark rounded-pill shadow border-4 mr-3 " asp-controller="Bestellingen" asp-action="Edit" asp-route-id="@Model.FirstOrDefault().BestellingId"> >>Terug naar je bestelling!<< </a>
    <input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />
</p>