﻿@model Lekkerbek.web.Models.AfrekeningModel

@{
    ViewData["Title"] = "Create";
    bool korting = false;
    if(Model.Getrouwheidscore == 3)
    {
         korting = true;
    }
   

}

<h31>Create</h31>

<div class="card-deck">
<form asp-action="Create">
    <div class="card text-center" style="max-width:35rem;">
        <div class="card-header bg-secondary"><h5>Afrekening:</h5>  </div>
        <img src="/img/invoicing.png" class="card-img-top">
        <div class="card-body">
            <table class="table">
               
                <tr>
                    <td class="text-left">
                        <strong>Klant info:</strong><br />
                        @Model.KlantNaam<br />
                        @Model.Straat @Model.HuisNr<br />
                        @Model.Postcode @Model.Stad <br />
                    </td>
                    <td class="text-left">

                        <table  class="table table-striped table-sm" style="max-width:18rem;">
                            <tr scope="row">
                                <td class="text-left"><span class="text-primary">Getrouwheidscore:</span></td><td class="text-left"><span class="text-primary"> @Model.Getrouwheidscore</span></td>
                            </tr>
                            <tr scope="row">
                                <td class="text-left">Afhaaldatum:</td><td class="text-left"> @Model.AfhaalTijdstip.ToShortDateString()</td>
                            </tr>
                            <tr scope="row">
                                <td class="text-left"> Tijdstip:</td><td class="text-left"> @Model.AfhaalTijdstip.ToShortTimeString()</td>
                            </tr>
                            
                             <tr scope="row">
                                <td class="text-left"><i>Prijs ex. BTW:</i></td><td class="text-left"> @Model.PrijsTotaalZonderBtw</td>
                            </tr>
                             @if(korting == true)
                            {
                                 <tr scope="row">
                                    <td class="text-left"><i>Klanten korting:</i></td><td class="text-left"> @Model.KortingBedrag</td>
                                </tr>
                                 <tr scope="row">
                                    <td class="text-left"><i>Btw:</i></td><td class="text-left"> @Model.BtwBedrag</td>
                                </tr>
                            }
                            <tr scope="row">
                                <td class="text-left"><strong><i>Prijs inc. BTW:</i></strong></td><td class="text-left"><h4 class="text-primary">@Model.PrijsTotaalMetBtw</h4></td>
                            </tr>
                        </table>

                    </td>
                </tr>
                
            </table>

            <div class="form-group">
                    <label asp-for="BetaalWijzeId" class="control-label">Kies Betaalwijze:</label>
                    <select asp-for="BetaalWijzeId" class="form-control" asp-items="ViewBag.BetaalWijze"></select>
                </div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PrijsTotaalZonderBtw"  />
            <input type="hidden" asp-for="KortingBedrag" />
            <input type="hidden" asp-for="BtwBedrag" />
            <input type="hidden" asp-for="PrijsTotaalMetBtw" />
       
        </div>
   
        <div class="card-footer bg-secondary">   
             <input type="submit" value="Betaling" class="btn btn-primary" />  
        </div>
    </div>
 </form>
</div>
       

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
