﻿
@{
     ViewData["Title"] = "GeenKoksMsg";
     Layout=ViewBag.Layout;

}


<div class="card-deck">

    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>Alert!!</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
            <h3>Er is iets misgelopen... </h3><br />
            deze bestelling is niet afgehandeld <br />
           <i> Check al de data en probeer het opnieuw</i><br /><br />   
        </div>
        <div class="card-footer bg-warning">    
            <a  asp-controller="Home" asp-action="home" asp-route-id ="2">Back to Homepage</a>
        </div>
    </div>
</div>