﻿@model Lekkerbek.web.Entities.TblTijdSloten

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblTijdSloten</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tijdslot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tijdslot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlantA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlantA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestellingA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestellingA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KokA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KokA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlantB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlantB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestellingB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestellingB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KokB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KokB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoksOnDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoksOnDuty.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
