﻿@model Lekkerbek.web.Entities.TblTijdSloten

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblTijdSloten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tijdslot" class="control-label"></label>
                <input asp-for="Tijdslot" class="form-control" />
                <span asp-validation-for="Tijdslot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlantA" class="control-label"></label>
                <input asp-for="KlantA" class="form-control" />
                <span asp-validation-for="KlantA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestellingA" class="control-label"></label>
                <input asp-for="BestellingA" class="form-control" />
                <span asp-validation-for="BestellingA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KokA" class="control-label"></label>
                <input asp-for="KokA" class="form-control" />
                <span asp-validation-for="KokA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlantB" class="control-label"></label>
                <input asp-for="KlantB" class="form-control" />
                <span asp-validation-for="KlantB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestellingB" class="control-label"></label>
                <input asp-for="BestellingB" class="form-control" />
                <span asp-validation-for="BestellingB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KokB" class="control-label"></label>
                <input asp-for="KokB" class="form-control" />
                <span asp-validation-for="KokB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoksOnDutyId" class="control-label"></label>
                <select asp-for="KoksOnDutyId" class="form-control" asp-items="ViewBag.KoksOnDutyId"></select>
                <span asp-validation-for="KoksOnDutyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
