﻿@model IEnumerable<Lekkerbek.web.Models.TijdSlotenModel>

@{
    ViewData["Title"] = "Index";
    Layout = TempData["Layout"].ToString();
}

<h1>Overzicht tijdsloten</h1>

<p>Legende : <span class="badge badge-success">Ingepland</span></p> 

@{
    int count = 0;
    int count2 = 10000;
}
<div class="bg-light">
<table class="table table-striped border-secondary shadow-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TijdSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlantA)
            </th>
            <th>
                Bestelling details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KokA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlantB)
            </th>
            <th>
                Bestelling details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KokB)
            </th>
            
            
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) 
{
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.TijdSlot)
            </td>
            <td  id="@count">
                @Html.DisplayFor(modelItem => item.KlantA)
                
            </td>
            <td>            
                <a id ="btnDetails1+@count" asp-controller="Bestellingen" asp-action="Details" asp-route-id="@item.BestellingAId" class="btn border-secondary mr-2">Bestelling Details</a> 
                <script>                 
                        if (@item.KlantAId != 0) 
                        {
                            document.getElementById(@count).classList.add('bg-success');
                            document.getElementById("btnDetails1+@count").style.display = 'block';
   
                        }
                        else 
                        {
                             document.getElementById("btnDetails1+@count").style.display = 'none';
                        }
                </script>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KokA)
            </td>
            <td id="@count2">
                @Html.DisplayFor(modelItem => item.KlantB)
                
            </td>
            <td >              
                <a id ="btnDetails2+@count" asp-controller="Bestellingen" asp-action="Details" asp-route-id="@item.BestellingBId" class="btn border-secondary mr-2">Bestelling Details</a>      
                <script>       
                        if (@item.KlantBId != 0) 
                        {
                            document.getElementById(@count2).classList.add('bg-success'); 
                            document.getElementById("btnDetails2+@count").style.display = 'block';
                        }
                        else 
                        {
                            document.getElementById("btnDetails2+@count").style.display = 'none'; 
                        }
                    </script>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KokB)
            </td>
           
            
        </tr>

        count++; 
        count2++;
}
    </tbody>
</table>
</div>
<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />