﻿@model IEnumerable<Lekkerbek.web.Models.TijdSlotenModel>
@{
    ViewData["Title"] = "Tijdsloten";
}


<h1>Tijdsloten voor : @ViewBag.Datum</h1>
<br />


 

   

    @{
        int count = 1;
        foreach (var item in Model)
        {

            <div class="container  mt-2 mb-2">
                <div class="row m-1">
                    <div class="m-2" style="width:30rem;">
                        <div class="card @(item.slotAChecked == true ? "bg-danger":"bg-success")">
                            <div class="card-body d-flex">
                                <span class="badge bg-warning ms-auto mr-4 my-auto">@count@{count++;} </span>
                                <h2 class="card-subtitle text-center mr-4 my-auto"> @item.TijdSlot.ToShortTimeString() </h2>
                                <h6 class="card-subtitle mb-2 mr-4 text-dark my-auto"><img src="~/img/Chef.PNG" width="30px" height="30px"> @item.KokA </h6>
                                <a class="btn btn-info  my-auto" asp-action="TijdSlot1" asp-route-id="@item.Id"> Select</a>       
                            </div>
                        </div>
                    </div>

                    <div class="m-2" style="width:30rem;">
                        <div class="card @(item.slotBChecked == true ? "bg-danger":"bg-success")">
                            <div class="card-body d-flex">
                                <span class="badge bg-warning ms-auto mr-4 my-auto">@count@{count++;}</span>
                                <h2 class="card-subtitle text-center mr-4 my-auto">@item.TijdSlot.ToShortTimeString() </h2>
                                <h6 class="card-subtitle mb-2 mr-4 text-dark my-auto"><img src="~/img/Chef.PNG" width="30px" height="30px"> @item.KokB</h6>                             
                                <a class="btn btn-info  my-auto" asp-action="TijdSlot2" asp-route-id="@item.Id">Select</a> 
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }
    }





