﻿@model Lekkerbek.web.Entities.TblGerechtOpties

@{
    ViewData["Title"] = "Details";
    Layout = TempData["Layout"].ToString();
}

<h1>Details</h1>

<div>
   <div class="card-deck">
    <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-warning border-primary"><h5>@Model.Optie</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
           
            <table>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Optie)</strong></td><td class="text-start">@Html.DisplayFor(model => model.Optie)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Beschrijving)</strong></td> <td class="text-start">@Html.DisplayFor(model => model.Beschrijving)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Prijs)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Prijs) €</td></tr>               
            </table>
          
        </div>
         <div class="card-footer bg-warning border-primary">
              <a class="btn btn-primary" asp-action="Index" >Back to List</a>    
         </div>
    </div>
    </div>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />
        
  

