﻿@model Lekkerbek.web.Entities.TblGerechtOpties

@{
    ViewData["Title"] = "Edit";
}

<h1>Wijzig een Gerechtoptie</h1>

<div class="card-deck">
    <!--Form-->
    <form asp-action="Edit">
    <div class="card text-center" style="max-width:25rem;">
        <div class="card-header bg-warning border-primary"><h5>Wijzig gerecht optie:</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Optie" class="control-label"></label>
                <input asp-for="Optie" class="form-control" />
                <span asp-validation-for="Optie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
                €
            </div>
        </div>
            <div class="card-footer bg-warning border-primary"> 
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
    </div>
    </form>
    
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
