﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

 <div class="py-2 text-center">
        <div class="container">
            <div class="row hidden-md-up">
                 <div class="card-deck">
                    <!--1 Instellingen-->
                            <div class="card border-danger rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-danger"><h5>Instellingen</h5></div>
                                <img class="card-img-top" src="/img/opties.png" alt="Card image cap">
                                    <div class="card-body">
                                        
                                        <a class="btn btn-outline-warning btn-block" asp-area="" asp-controller="Instellingen" asp-action="Edit">Instellingen</a>
                                        
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutKassaMedewerker.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-danger"></div>
                            </div>
        
                 </div>
            </div>
        </div>
 </div>
