﻿@{
    Layout = "~/Views/Shared/_LayoutAdministratief.cshtml";

}

    <div class="py-2 text-center">
        <div class="container">
            <div class="row hidden-md-up">
                <!--Shortcuts-->
                @*<div class="btn-group" role="group" >*@
                    <a  class="btn btn-danger border-dark rounded-pill shadow border-4 mr-3 " asp-area="" asp-controller="Bestellingen" asp-action="create">Nieuwe bestelling</a></>
                    <a  class="btn btn-warning border-dark rounded-pill shadow border-4 mr-3" asp-area="" asp-controller="Bestellingen" asp-action="index">Overzicht bestellingen</a>
                    <a class="btn btn-secondary border-dark rounded-pill shadow border-4 mr-3" asp-area="" asp-controller="TijdSloten" asp-action="index">Overzicht tijdsloten</a>                   
                @*</div>*@
            </div>
            <div class="row hidden-md-up">
                 <div class="card-deck">
                    <!--1 Klanten-->
                            <div class="card border-primary rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-primary"><h5>Klanten Beheer</h5></div>
                                <img class="card-img-top" src="/img/klanten.png" alt="Card image cap">
                                    <div class="card-body">
                                        
                                        <a class="btn btn-outline-primary btn-block" asp-area="" asp-controller="Klanten" asp-action="index">Overzicht</a>
                                        <a class="btn btn-outline-primary btn-block" asp-area="" asp-controller="Klanten" asp-action="Create">Nieuwe klant toevoegen</a>
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutAdministratief.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-primary"></div>
                            </div>
                     <!--2 Personeel--> 
                            <div class="card border-success rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-success"><h5>Personeel Beheer</h5></div>
                                <img class="card-img-top" src="/img/personeel.png" alt="Card image cap">
                                    <div class="card-body">
                                        
                                        <a class="btn btn-outline-success btn-block" asp-area="" asp-controller="Personeel" asp-action="Index">Overzicht</a>
                                        <a class="btn btn-outline-success btn-block" asp-area="" asp-controller="Personeel" asp-action="Create">Nieuw personeel toevoegen</a>
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutAdministratief.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-success"></div>
                            </div>
                    <!--3 Inplanningen personeel-->
                             <div class="card border-success rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-success"><h5>Inplanning personeel</h5></div>
                                <img class="card-img-top" src="/img/inplanning.png" alt="Card image cap">
                                    <div class="card-body">
                                        
                                        <a class="btn btn-outline-success btn-block" asp-area="" asp-controller="KoksOnDuties" asp-action="Index">Overzicht Koks</a>
                                        <a class="btn btn-outline-success btn-block" asp-area="" asp-controller="KoksOnDuties" asp-action="Create">Plan koks in</a>
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutAdministratief.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-success"></div>
                            </div>

                    <!--3 Gerechten beheer-->
                             <div class="card border-warning rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-warning"><h5>Gerechten beheer</h5></div>
                                <img class="card-img-top" src="/img/gerecht.png" alt="Card image cap">
                                    <div class="card-body">
                                       
                                        <a class="btn btn-outline-warning btn-block" asp-area="" asp-controller="Gerechten" asp-action="Index">Overzicht gerechten </a>
                                        <a class="btn btn-outline-warning btn-block" asp-area="" asp-controller="Gerechten" asp-action="Create">Nieuw gerecht of drank</a>
                                        <a class="btn btn-outline-info btn-block" asp-area="" asp-controller="Gerechten" asp-action="Index">Overzicht Gerecht opties</a>
                                        <a class="btn btn-outline-info btn-block" asp-area="" asp-controller="GerechtOpties" asp-action="Create">Nieuwe gerecht opties</a>
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutAdministratief.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-warning"></div>
                            </div>
                </div>
         
           </div>
        </div>
    </div>