﻿
 @{
      ViewData["Title"]="Home Page" ;
   }


@*https://codecary.com/responsive-login-form-using-bootstrap/*@
 <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 main-vh-correction">
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="/img/restaurant.png" class="login-card-img">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                
                <p class="login-card-description">Kies de juiste rol om verder te gaan</p>
                <form asp-controller='Home' asp-action='Index' method='post'>   
                    <div class="form-group">
                       
                        <select name="Id" class='form-control' asp-items='@(new SelectList(@ViewBag.rol,"Id", "Rol"))'></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Select" />
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>