﻿
@{
    Layout = "~/Views/Shared/_LayoutKassaMedewerker.cshtml";
}

 <div class="py-2 text-center">
        <div class="container">
            <div class="row hidden-md-up">
                 <div class="card-deck">
                    <!--1 Bestellingen-->
                            <div class="card border-warning rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-warning"><h5>Bestellingen Beheer</h5></div>
                                <img class="card-img-top" src="/img/Orders.png" alt="Card image cap">
                                    <div class="card-body">
                                        
                                        <a class="btn btn-outline-warning btn-block" asp-area="" asp-controller="Bestellingen" asp-action="index">Overzicht</a>
                                        
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutKassaMedewerker.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-warning"></div>
                            </div>
                
                 <!--1 Klanten-->
                            <div class="card border-primary rounded-5 shadow m-2" style="max-width: 20rem;">
                                <div class="card-header bg-primary"><h5>Klanten Beheer</h5></div>
                                <img class="card-img-top" src="/img/klanten.png" alt="Card image cap">
                                    <div class="card-body">
                                        
                                        <a class="btn btn-outline-primary btn-block" asp-area="" asp-controller="Klanten" asp-action="index">Overzicht</a>
                                        
                                        <input type="hidden" id="Layout" value="@{TempData["Layout"] = "~/Views/Shared/_LayoutKassaMedewerker.cshtml";}" />
                                    </div>
                                <div class="card-footer bg-primary"></div>
                            </div>
                 </div>
            </div>
        </div>
 </div>
