﻿@model Lekkerbek.web.Entities.TblGerechten

@{
    ViewData["Title"] = "Details";
    Layout = ViewBag.Layout;
}

<h3>Details</h3>


<div>
   <div class="card-deck">
    <div class="card text-center shadow-sm" style="max-width:25rem;">
        <div class="card-header bg-warning"><h5>@Model.GerechtNaam</h5>  </div>
        <img src="/img/ordering.png" class="card-img-top">
        <div class="card-body">
            <table>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.GerechtNaam)</strong></td><td class="text-start">@Html.DisplayFor(model => model.GerechtNaam)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Beschrijving)</strong></td> <td class="text-start">@Html.DisplayFor(model => model.Beschrijving)</td></tr>
                <tr><td class="text-start"><strong>@Html.DisplayNameFor(model => model.Prijs)</strong></td><td class="text-start"> @Html.DisplayFor(model => model.Prijs) €</td></tr>               
            </table>
          
        </div>
         <div class="card-footer bg-warning">
              <a class="btn btn-primary" asp-controller ="Gerechten" asp-action="Index" >Back to List</a>    
         </div>
    </div>
    </div>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />
        
        
       