﻿@model Lekkerbek.web.Entities.TblGerechten

@{
    ViewData["Title"] = "Edit";
     Layout = ViewBag.Layout;
}

<h3>Wijzig gerecht</h3>
 <form asp-action="Edit">
<div class="card-deck"> 

        <div class="card text-center shadow-sm" style="max-width:25rem;">
            <div class="card-header bg-warning"><h5>Klant info:</h5>  </div>
            <img src="/img/klanten.png" class="card-img-top">
            <div id ="card-body-form" class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="GerechtNaam" class="control-label"></label>
                            <input asp-for="GerechtNaam" class="form-control" />
                            <span asp-validation-for="GerechtNaam" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Beschrijving" class="control-label"></label>
                            <input asp-for="Beschrijving" class="form-control" />
                            <span asp-validation-for="Beschrijving" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prijs" class="control-label"></label>
                            <input asp-for="Prijs" class="form-control" />
                            <span asp-validation-for="Prijs" class="text-danger"></span>
                            €
                        </div>
            </div>
        <div class="card-footer bg-warning">
                     <input type="submit" value="Save" class="btn btn-primary" />    
        </div>
    </div>

</div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
