﻿@model IEnumerable<Lekkerbek.web.Entities.TblGerechten>

@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.Layout;
}

<h3>Overzicht gerechten</h3>

<p>
    <a class="btn btn-danger border-dark rounded-pill shadow border-4 mr-3 " asp-action="Create">Create New</a>
</p>
<div class="bg-light">
<table id="table" class="table table-striped border-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GerechtNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GerechtNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs) €
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-2">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary mr-2">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mr-2">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<input type="hidden" id="Layout" value="@{TempData["Layout"] = Layout;}" />
